[Unit]
Description=Make white noise for sleep
Requires=soxstartrek.service
After=time-sync.target 

[Timer]
OnCalendar=Sun,Mon..Thu 22:00
OnCalendar=Fri..Sat 23:00

[Install]
WantedBy=timers.target
