[Unit]
Description=Make white noise for sleep
Requires=soxstartrek.service

[Timer]
OnCalendar=Sun..Thu 22:00
OnCalendar=Fri..Sat 23:00
Persistent=true

[Install]
WantedBy=timers.target
